@charset 'utf-8';
/* =========================================================
///styles.css
========================================================= */
* { margin: 0; padding: 0; }
/* ---------------------------------------------------------
#all,wrapper
--------------------------------------------------------- */
body { 
	margin: auto;  
	background: #3B201B;
	color: #fff;
	text-align: center;
	user-select: none;
	font-family: 'Bookman Old Style', sans-serif;
	width: 100%;
    }
/* #header
--------------------------------------------------------- */
	.header-menu { list-style: none; }
	.header-contents a {
		text-decoration: none;
		color: #fff;
	    }
	.header-contents a:hover {
		opacity: 0.8;
		text-decoration: underline;
	    }

/* ----- #contents ----- */
section { margin-bottom: 30px; }
	.text00 { text-align: left; }
	.text01 { 
		text-align: left; 
		float: left;
		}
	.text03 { 
		text-align: left; 
	    }
	.sub-ttl {
		background: #228b22;
		border-radius: 10px;
	    }
	.menu-block { margin: 30px 0 30px; }

/* #footer
--------------------------------------------------------- */
.text02 { margin-bottom: 20px; }
.text02 a {
	color: #fff;
	text-decoration: none;
    }
.text02 a:hover {
	opacity: 0.8;
	text-decoration: underline;
    }
.footer-menu { list-style: none; }
	.footer-contents a {
		text-decoration: none;
		color: #fff;
	    }
	.footer-contents a:hover {
		opacity: 0.8;
		text-decoration: underline;
	    }

/*responsive:pc*/
@media screen and (min-width: 750px) {

	/*header*/
	.header-menu {
		display: flex;
		justify-content: flex-end;
		margin-right: 50px;
		margin-bottom: 50px;
	    }
	.header-contents { padding: 50px; }

	/*contents*/
	.sub-ttl { margin: 0 10% 30px; }
	.text00 { margin: 0 35%; }
	.text01 {
		margin-left: 20%;
		margin-right: 3%;
	    }
	.text03 { margin: 0 30% 30px; }

	/*footer*/
	.footer-menu {
		display: flex;
		justify-content: flex-start;
		margin: 0 30%;
	    }
	.footer-contents { padding: 50px; }
}

/*resuponsive:sp/750px*/
@media screen and (max-width: 750px) {

	/*header*/
	.title { margin-bottom: 20px; }
	.header-menu { margin-bottom: 20px; }
	.header-contents { padding: 10px; }
	#header img { width: 100%; }

	/*contents*/
	.sub-ttl { margin: 0 2% 30px; }
	.text00 { margin: 0 20%; }
	.text01 { margin: 0 3%; }
	.text03 { margin: 0 20% 30px; }

	/*footer*/
	.footer-menu { margin-bottom: 30px; }
	.footer-contents { padding: 10px; }
}